table {
  min-width: 100%;
  table-layout: fixed;
  position: relative;
  padding-bottom: 15px;
}
.table-div {
  width: calc(96vw - 42px);
  margin: 0 1vw 70px 0;
  overflow-x: scroll;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 0 0 20px #4464AD;
  border-radius: 5px;
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #f0f0f0;
}
thead {
  position: sticky;
  top: 0;
  z-index: 1000;
}
td {
  /*border: 1px solid #ddd;*/
  padding: 10px 10px 2px 10px;
  text-align: left;
  white-space: nowrap;
}
th {
  padding-top: 10px;
  background-color: #d5d5d5;
}
tr {
  background-color: white;
}
td:first-child {
  padding-left: 20px;
}
th button {
  border: none;
  font: inherit;
  background-color: inherit;
  padding: 5px 10px;
  border-radius: 10px;
}
th button:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}
#b-c5 {
  display: inline-block;
  width: 300px;
  height: 35px;
  overflow: hidden;
  white-space: inherit;
  padding-top: 13px;
}
#b-c5:hover {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: inherit;
  background-color: #92C0DD;
  z-index: 2;
}
#b-c6:hover {
  cursor: pointer;
}
#b-c9 {
  padding: 5px 20px;
}
#b-c9 button:hover {
   cursor: pointer;
   background-color: #72a0bd;
}
#b-c9 button {
  border: none;
  background-color: #E7D09F;
  padding: 5px 10px;
  border-radius: 10px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
table .spinner-box {
  display: flex; 
  justify-content: center;
}
table .spinner {
  width: 20px;
  height: 20px;
  border: 2.5px solid #E5E7EB;
  border-top: 2.5px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}


