* {
	box-sizing: border-box;
}
.form-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 55vw;
	background-color: #dddddd;
	padding: 30px;
	border-radius: 5px;
	z-index: 1001;
}
.form-container strong {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.form-container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	margin-top: 30px;
}
.form-container label {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}
.form-container input {
	height: 30px;
	padding-left: 15px;
	border-radius: 5px;
	border: none;
}
.form-container input:focus {
	outline: none;
}
.form-container textarea {
	height: 80px;
	padding-left: 15px;
	border-radius: 5px;
	border: none;
}
.form-container textarea:focus {
	outline: none;
}
.form-btns {
	display: flex;
	justify-content: space-between;
}
.create-button:hover {
   cursor: pointer;
   background-color: #72a0bd;
}
.create-button {
	width: 15%;
	margin: 0 20px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: #92C0DD;
	box-shadow: 0 0 50px #fff;
}
/*#4464AD*/